stages:
  - build
  - package
  - deploy-dev
  - deploy-qas
  - deploy-prd

variables:
  SERVICE_NAME: iadp-admin-web

build:
  image: $REGISTRY_ADDRESS/devops/nodejs/build
  stage: build
  only:
    - develop
    - TempRelease
    - master
    - tags
  script:
    - yarn && yarn lint && yarn build
  artifacts:
    paths:
      - dist
      - Dockerfile
    expire_in: 2 hrs
  tags:
    - nodejs

package:
  image: $REGISTRY_ADDRESS/devops/docker/package
  stage: package
  variables:
    GIT_STRATEGY: none
  only:
    - develop
    - TempRelease
    - master
    - tags
  script:
    - package
  tags:
    - docker

deploy-dev:
  image: $REGISTRY_ADDRESS/devops/docker/deploy
  stage: deploy-dev
  variables:
    GIT_STRATEGY: none
  dependencies: []
  only:
    - develop
  script:
    - deploy -service $SERVICE_NAME
  environment: aiads-dev
  tags:
    - docker

deploy-qas:
  image: $REGISTRY_ADDRESS/devops/docker/deploy
  stage: deploy-qas
  variables:
    GIT_STRATEGY: none
  dependencies: []
  only:
    - TempRelease
  script:
    - deploy -service $SERVICE_NAME -template web
  environment: jydata-qas
  tags:
    - docker

deploy-prd:
  image: $REGISTRY_ADDRESS/devops/docker/deploy
  stage: deploy-prd
  variables:
    GIT_STRATEGY: none
  dependencies: []
  only:
    - master
    - tags
  script:
    - deploy -service $SERVICE_NAME -template web -vars port=8005
  environment: aiads-prd
  tags:
    - docker
  when: manual
