/**
 * 全局样式
 * @author zhangpeng
 */

@import 'lib.less';

//** 工具类
.flex-box {
  display: flex;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}

.flex-mid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-as-hyphen:empty {
  &::before {
    content: '-';
  }
}

//** 全局
html, body {
  height: 100%;
}

// 标记为废弃字段，不要用作它图
.deprecated {
  color: #ed4014;
}

//** override
.ivu-table-cell {
  padding-left: 4px;
  padding-right: 4px;
}
.ivu-form-item-error-tip {
  white-space: nowrap;
}
.ivu-input-number {
  width: 100%;
}

.ivu-modal-confirm-body {
  padding: 18px 0 0 0;
}
.ivu-modal-confirm-head ~ .ivu-modal-confirm-body {
  padding: 0 0 0 42px;
}
